body{
  background-image: url(https://server.wallpaperalchemy.com/storage/wallpapers/88/4k-high-resolution-dark-geometric-shards-wallpaper-for-windows-11.png);
  background-size: cover;
}

.main{
  max-width: 960px;
  margin: 0px auto;
  padding: 0px 15px;
  min-height: 100vh;
}

.header{
  display:flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.title{
  color: pink;
  font-size: 70px;
  font-weight: 400;
  font-style: italic ;
  align-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}

.notes{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, minmax(300px,1fr));
}